
.list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

li{
    list-style-type: none;
    margin-left: 10px;
    width: 29px;
    height: 25px;
    cursor: pointer;
    color: rgba(244, 72, 72, 1);
    text-decoration: none !important;
    
}